@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #060b19;
  font-family: 'Poppins',
    sans-serif;
  padding: 0px 50px;

}

html {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Toastify__toast-body div {
  font-size: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}